:root {
  --primary-color: #983feb;
  --text-color: #b1aaaa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

button {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 20px;
  border: none;
}

h1 {
  color: rgb(216, 207, 207);
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mode {
  position: relative;
  right: -90%;
  top: 1%;

}

.dark {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.light {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mode--active {
  background-color: var(--primary-color);
  color: white;
}

.player {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  width: 100%;
  max-width: 480px;
  margin: 12px;
  height: 100vh;
  margin-top: 2em;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
  margin-bottom: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 300px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
  margin-top: 2em;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.control .btn-toggle-play:hover {
  cursor: pointer;
}
.control .btn-repeat,
.control .btn-prev,
.control .btn-next,
.control .btn-random:hover {
  cursor: pointer;
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.progress:hover {
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  padding: 12px;
  flex: 1;
  margin-top: 28px;
  margin-left: 12px;
  overflow-y: scroll;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song:hover {
  background-color: rgb(75, 73, 73);
  cursor: pointer;
  color: #fff;
}
.song:hover .title,
.song:hover .author {
  color: white;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
